<?xml version="1.0"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN"
  "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<!--
Author: Nicholas Cerda
Date: 05/13/2018
Professor: Avner Biblarz
Title: test.html
Abstract: File creates the webpage, gathers information to build widgets.
Source: www.worldcoininex.com
-->
<!-- <body background="https://skolakoda.org/images/koncepti/podaci/binarni.jpg"> -->

<center>
  <h1>Chrysaor</h1>
<h1>Current values of Tron and Ripple</h1>


<!--builds graphs and retrieves values on the crypto-currency-->
<script>
var cf_widget_size = "large";
var cf_widget_from = "TRX";
var cf_widget_to = "btc";
var cf_widget_name = "Tron";
var cf_clearstyle = true;
var t = document.scripts[document.scripts.length - 1],
    n = t.parentElement,
    r = document.createElement("iframe"),
    i = !1;
if (typeof cf_widget_mode != "undefined") {
    i = "https://www.worldcoinindex.com/widget/renderWidget?mode=g-l&to=" + cf_widget_to;
    if (cf_widget_mode == "g-l") {
        if (cf_widget_size == "small") {
            r.width = "250px";
            r.height = "270px"
        } else if (cf_widget_size == "medium") {
            r.width = "300px";
            r.height = "270px"
        } else if (cf_widget_size == "large") {
            r.width = "336px";
            r.height = "270px"
        }
        r.id = "cf_g_l_widget_iframe"
    }
} else {
    i = "https://www.worldcoinindex.com/widget/renderWidget?size=" + cf_widget_size + "&from=" + cf_widget_from + "&to=" + cf_widget_to + "&name=" + cf_widget_name + "&clearstyle=" + cf_clearstyle;
    if (cf_widget_size == "small") {
        r.width = "300px";
        r.height = "135px"
    } else if (cf_widget_size == "medium") {
        r.width = "300px";
        r.height = "240px"
    } else if (cf_widget_size == "large") {
        r.width = "300px";
        r.height = "340px"
    }
    r.id = "cf_widget_iframe"
}
r.setAttribute("data-size", cf_widget_size);
r.style.cssText = "border:none;"; -1 == navigator.userAgent.indexOf("MSIE") ? r.src = i : r.location = i;
n.replaceChild(r, t)
</script>

<script>

var cf_widget_size = "large";
var cf_widget_from = "XRP";
var cf_widget_to = "btc";
var cf_widget_name = "Ripple";
var cf_clearstyle = true;
var t = document.scripts[document.scripts.length - 1],
    n = t.parentElement,
    r = document.createElement("iframe"),
    i = !1;
if (typeof cf_widget_mode != "undefined") {
    i = "https://www.worldcoinindex.com/widget/renderWidget?mode=g-l&to=" + cf_widget_to;
    if (cf_widget_mode == "g-l") {
        if (cf_widget_size == "small") {
            r.width = "250px";
            r.height = "270px"
        } else if (cf_widget_size == "medium") {
            r.width = "300px";
            r.height = "270px"
        } else if (cf_widget_size == "large") {
            r.width = "336px";
            r.height = "270px"
        }
        r.id = "cf_g_l_widget_iframe"
    }
} else {
    i = "https://www.worldcoinindex.com/widget/renderWidget?size=" + cf_widget_size + "&from=" + cf_widget_from + "&to=" + cf_widget_to + "&name=" + cf_widget_name + "&clearstyle=" + cf_clearstyle;
    if (cf_widget_size == "small") {
        r.width = "300px";
        r.height = "135px"
    } else if (cf_widget_size == "medium") {
        r.width = "300px";
        r.height = "240px"
    } else if (cf_widget_size == "large") {
        r.width = "300px";
        r.height = "340px"
    }
    r.id = "cf_widget_iframe"
}
r.setAttribute("data-size", cf_widget_size);
r.style.cssText = "border:none;"; -1 == navigator.userAgent.indexOf("MSIE") ? r.src = i : r.location = i;
n.replaceChild(r, t)
</script><br>
<h1>Our predictions</h1>
<p> Tron: {{ prediction }}</p>
<p> Ripple: {{ prediction }}</p>
<p> Bitcoin: {{ prediction }}</p>
<p> Current Price of Bitcoin: {{ btc}}</p>

<p>Predicted price of Bitcoin for 1 week: {{ algo }}</p>
</center>
